<head>
  <title> Bulk Export Google Trends Data </title>
</head>
<body>
<h1> Pytrends Exporter </h1>
<div>
  <p> This is a super simple tool for bulk exporting data from Google Trends. </p>
  <p> If you're interested, it uses <a href="https://pypi.org/project/pytrends/">this python module</a>.</p>
  </p>
</div>
  <form action = "/interest-over-time" method="POST">

    <textarea name="keywords" rows="25" cols="30">Paste your keywords in here, seperated by commas.</textarea>
    <br>
    <label for="dates">Dates:</label>
    <input type="date" id="start-date" name="start-date">
    <input type="date" id="end-date" name="end-date">
    <br>
    <input type="submit">
  </form>
</div>
</body>
